.no-margin-bottom {margin-bottom: 0;}
.no-padding-top {padding-top: 0;}
.handle {margin-bottom: 10px;}
.fs-18 {font-size: 18px}
.fs-20 {font-size: 20px}
.no-backgrounds { background: transparent;border: none;}
.no-backgrounds:focus { background: transparent;border-bottom: 2px solid #101010 }
